name: Metrics
on:
  push:
    branches: ["master", "main"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: Alvintxh
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Shanghai
